#loader {
    /*Applies to the entire loader*/
}
.no-js #loader {
    /*When the browser is outdated*/
    display: none;
}
#loader .loader-shutter {
    /*Both the shutters of the loader*/
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 51%;
    background: #080B0C;
    z-index: 100000;
}

#loader .loader-shutter.top {
    /*Top shutter of loader*/
    top: 0;
}
#loader .loader-shutter.bottom {
    /*Bottom shutter of loader*/
    bottom: 0;
}
.spinner {
    /*The fancy animation in the center*/
    z-index: 100001;
    /*display: block;*/
    position: fixed;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#spinner1 {

}

/*When the page is loaded*/
.loaded #loader {
    visibility: hidden;
}
.loaded #loader .loader-shutter.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.7s 1.1s ease-out;
    transition: all 0.7s 1.1s ease-out;
}
.loaded #loader .loader-shutter.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.7s 1.1s ease-out;
    transition: all 0.7s 1.1s ease-out;
}
.loaded .spinner {
    opacity: 0;
    -webkit-transition: all 0.3s 0.8s ease-out;
    transition: all 0.3s 0.8s ease-out;
}
.loaded .fire-body {
    fill: #df6e28;
    -webkit-transition: fill 0.5s ease-out;
    transition: fill 0.5s ease-out;
}
